# ==========================================
# CRM Nyx - Environment Variables Configuration
# ==========================================

# PostgreSQL Settings
POSTGRES_USER=ronald
POSTGRES_PASSWORD=Gs1$2099Zx23rO24M4r25
POSTGRES_MULTIPLE_DATABASES=nyx_crm,nx_ecosystem
POSTGRES_PORT=5432

# Redis Settings
REDIS_PORT=6379

# ASP.NET Core Settings
ASPNETCORE_ENVIRONMENT=Production

# Public Nginx Proxy Port
HTTP_PORT=80
