# ==========================================
# CRM Nyx - Environment Variables Configuration
# ==========================================

# PostgreSQL Admin Settings
POSTGRES_USER=ronald
POSTGRES_PASSWORD=Gs1_2099Zx23rO24M4r25
POSTGRES_MULTIPLE_DATABASES=nyx_crm,nx_ecosystem,nyx_sla,nyx_approval,nyx_flow
POSTGRES_PORT=5432

# Dedicated Microservices Database Credentials (ISO 27001 Security Isolation)
CRM_DB_PASSWORD=Crm_Nyx2026_Secured_Key
SLA_DB_PASSWORD=Sla_Nyx2026_Engine_Key
APPROVAL_DB_PASSWORD=Approval_Nyx2026_Secured_Key
FLOW_DB_PASSWORD=Flow_Nyx2026_Engine_Key

# MinIO S3 Object Storage Settings
MINIO_ROOT_USER=nyx_admin
MINIO_ROOT_PASSWORD=NyxMinio_2026StorageKey!
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Redis Settings
REDIS_PORT=6379

# ASP.NET Core Settings
ASPNETCORE_ENVIRONMENT=Production
JWT_SECRET_KEY=NyxCRM_SuperSecret_JwtKey_2026_Prod_256bits_Key!

# Public Nginx Proxy Port
HTTP_PORT=80
