--
-- PostgreSQL database dump
--

\restrict nPBDGt5hY9lzKlBjWsFJUCPER2GBAU6jzXFxaN0htUv6Ptin18mVCngBlcBFfKt

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.status_stage_mapping DROP CONSTRAINT IF EXISTS status_stage_mapping_id_stage_fkey;
ALTER TABLE IF EXISTS ONLY public.stage_transition DROP CONSTRAINT IF EXISTS stage_transition_to_stage_id_fkey;
ALTER TABLE IF EXISTS ONLY public.stage_transition DROP CONSTRAINT IF EXISTS stage_transition_id_instance_fkey;
ALTER TABLE IF EXISTS ONLY public.stage_transition DROP CONSTRAINT IF EXISTS stage_transition_from_stage_id_fkey;
ALTER TABLE IF EXISTS ONLY public.stage DROP CONSTRAINT IF EXISTS stage_id_flow_fkey;
ALTER TABLE IF EXISTS ONLY public.flow_instance DROP CONSTRAINT IF EXISTS flow_instance_id_flow_fkey;
ALTER TABLE IF EXISTS ONLY public.flow_instance DROP CONSTRAINT IF EXISTS flow_instance_current_stage_id_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_step_progress DROP CONSTRAINT IF EXISTS checkpoint_step_progress_id_step_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_step_progress DROP CONSTRAINT IF EXISTS checkpoint_step_progress_id_cp_instance_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_step DROP CONSTRAINT IF EXISTS checkpoint_step_id_checkpoint_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_instance DROP CONSTRAINT IF EXISTS checkpoint_instance_opened_at_stage_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_instance DROP CONSTRAINT IF EXISTS checkpoint_instance_id_instance_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_instance DROP CONSTRAINT IF EXISTS checkpoint_instance_id_checkpoint_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_catalog DROP CONSTRAINT IF EXISTS checkpoint_catalog_triggered_by_ko_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_catalog DROP CONSTRAINT IF EXISTS checkpoint_catalog_trigger_stage_id_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_catalog DROP CONSTRAINT IF EXISTS checkpoint_catalog_rollback_to_stage_fkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_catalog DROP CONSTRAINT IF EXISTS checkpoint_catalog_id_flow_fkey;
DROP INDEX IF EXISTS public.idx_flow_instance_entity;
DROP INDEX IF EXISTS public.idx_flow_inst_stage;
DROP INDEX IF EXISTS public.idx_flow_inst_entity;
DROP INDEX IF EXISTS public.idx_cp_instance_instance_status;
DROP INDEX IF EXISTS public.idx_cp_inst_status;
DROP INDEX IF EXISTS public.idx_cp_inst_instance;
ALTER TABLE IF EXISTS ONLY public.stage DROP CONSTRAINT IF EXISTS uq_flow_stage_order;
ALTER TABLE IF EXISTS ONLY public.stage DROP CONSTRAINT IF EXISTS uq_flow_stage_code;
ALTER TABLE IF EXISTS ONLY public.flow_instance DROP CONSTRAINT IF EXISTS uq_flow_instance_entity;
ALTER TABLE IF EXISTS ONLY public.checkpoint_step_progress DROP CONSTRAINT IF EXISTS uq_cp_step_progress;
ALTER TABLE IF EXISTS ONLY public.checkpoint_step DROP CONSTRAINT IF EXISTS uq_checkpoint_step_order;
ALTER TABLE IF EXISTS ONLY public.sales_order_fact DROP CONSTRAINT IF EXISTS uk_sales_order_fact;
ALTER TABLE IF EXISTS ONLY public.status_stage_mapping DROP CONSTRAINT IF EXISTS status_stage_mapping_pkey;
ALTER TABLE IF EXISTS ONLY public.stage_transition DROP CONSTRAINT IF EXISTS stage_transition_pkey;
ALTER TABLE IF EXISTS ONLY public.stage DROP CONSTRAINT IF EXISTS stage_pkey;
ALTER TABLE IF EXISTS ONLY public.sales_order_fact DROP CONSTRAINT IF EXISTS sales_order_fact_pkey;
ALTER TABLE IF EXISTS ONLY public.flow_instance DROP CONSTRAINT IF EXISTS flow_instance_pkey;
ALTER TABLE IF EXISTS ONLY public.flow_definition DROP CONSTRAINT IF EXISTS flow_definition_pkey;
ALTER TABLE IF EXISTS ONLY public.flow_definition DROP CONSTRAINT IF EXISTS flow_definition_code_key;
ALTER TABLE IF EXISTS ONLY public.flow_campaign_mapping DROP CONSTRAINT IF EXISTS flow_campaign_mapping_pkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_step_progress DROP CONSTRAINT IF EXISTS checkpoint_step_progress_pkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_step DROP CONSTRAINT IF EXISTS checkpoint_step_pkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_instance DROP CONSTRAINT IF EXISTS checkpoint_instance_pkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_catalog DROP CONSTRAINT IF EXISTS checkpoint_catalog_pkey;
ALTER TABLE IF EXISTS ONLY public.checkpoint_catalog DROP CONSTRAINT IF EXISTS checkpoint_catalog_code_key;
ALTER TABLE IF EXISTS ONLY public.audit_log DROP CONSTRAINT IF EXISTS audit_log_pkey;
ALTER TABLE IF EXISTS public.sales_order_fact ALTER COLUMN id_fact DROP DEFAULT;
DROP TABLE IF EXISTS public.status_stage_mapping;
DROP TABLE IF EXISTS public.stage_transition;
DROP TABLE IF EXISTS public.stage;
DROP SEQUENCE IF EXISTS public.sales_order_fact_id_fact_seq;
DROP TABLE IF EXISTS public.sales_order_fact;
DROP TABLE IF EXISTS public.flow_instance;
DROP TABLE IF EXISTS public.flow_definition;
DROP TABLE IF EXISTS public.flow_campaign_mapping;
DROP TABLE IF EXISTS public.checkpoint_step_progress;
DROP TABLE IF EXISTS public.checkpoint_step;
DROP TABLE IF EXISTS public.checkpoint_instance;
DROP TABLE IF EXISTS public.checkpoint_catalog;
DROP TABLE IF EXISTS public.audit_log;
DROP EXTENSION IF EXISTS "uuid-ossp";
--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.audit_log (
    id_log bigint NOT NULL,
    id_instance bigint,
    id_checkpoint bigint,
    action character varying(50) NOT NULL,
    actor_id bigint NOT NULL,
    actor_ip inet,
    detail jsonb DEFAULT '{}'::jsonb NOT NULL,
    checksum character varying(128) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_log OWNER TO ronald;

--
-- Name: audit_log_id_log_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.audit_log ALTER COLUMN id_log ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.audit_log_id_log_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: checkpoint_catalog; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.checkpoint_catalog (
    id_checkpoint bigint NOT NULL,
    code character varying(80) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    id_flow bigint,
    trigger_stage_id bigint,
    origin character varying(20) DEFAULT 'INTERNAL'::character varying NOT NULL,
    scope character varying(20) DEFAULT 'ENTITY'::character varying NOT NULL,
    blocks text[] DEFAULT '{}'::text[] NOT NULL,
    blocks_advance boolean DEFAULT false NOT NULL,
    rollback_to_stage bigint,
    triggered_by_ko bigint,
    is_recurrent boolean DEFAULT false NOT NULL,
    recurrence_days smallint,
    max_occurrences smallint,
    owner_dept character varying(100),
    approval_status character varying(20) DEFAULT 'PROPOSED'::character varying NOT NULL,
    approved_by jsonb DEFAULT '[]'::jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    created_by bigint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    portfolio character varying(80) DEFAULT 'GENERAL'::character varying,
    campaign character varying(80) DEFAULT 'GENERAL'::character varying,
    provider character varying(80) DEFAULT 'INTERNO'::character varying,
    finalizes_cycle boolean DEFAULT false,
    target_roles character varying(200) DEFAULT 'SUPERVISOR,BACKOFFICE'::character varying,
    category character varying(100) DEFAULT 'GENERAL'::character varying,
    division character varying(100) DEFAULT 'OPERACIONES'::character varying,
    approval_job_title character varying(100) DEFAULT 'SUPERVISOR'::character varying,
    satellites text[] DEFAULT '{}'::text[],
    execution_order integer DEFAULT 1,
    rollback_to_checkpoint_code character varying(80) DEFAULT NULL::character varying,
    rollback_to_step_order integer,
    precondition_fact character varying(100) DEFAULT NULL::character varying,
    CONSTRAINT chk_checkpoint_approval CHECK (((approval_status)::text = ANY ((ARRAY['PROPOSED'::character varying, 'ACTIVE'::character varying, 'DEPRECATED'::character varying])::text[])))
);


ALTER TABLE public.checkpoint_catalog OWNER TO ronald;

--
-- Name: checkpoint_catalog_id_checkpoint_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.checkpoint_catalog ALTER COLUMN id_checkpoint ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.checkpoint_catalog_id_checkpoint_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: checkpoint_instance; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.checkpoint_instance (
    id_cp_instance bigint NOT NULL,
    id_instance bigint NOT NULL,
    id_checkpoint bigint NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    opened_at_stage bigint,
    is_retroactive boolean DEFAULT false NOT NULL,
    occurrence_number smallint DEFAULT 1 NOT NULL,
    scheduled_for timestamp with time zone,
    resolved_by bigint,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_cp_instance_status CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'SUBSANADO'::character varying, 'KO'::character varying, 'SCHEDULED'::character varying])::text[])))
);


ALTER TABLE public.checkpoint_instance OWNER TO ronald;

--
-- Name: checkpoint_instance_id_cp_instance_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.checkpoint_instance ALTER COLUMN id_cp_instance ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.checkpoint_instance_id_cp_instance_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: checkpoint_step; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.checkpoint_step (
    id_step bigint NOT NULL,
    id_checkpoint bigint NOT NULL,
    step_order smallint NOT NULL,
    name character varying(300) NOT NULL,
    is_required boolean DEFAULT true NOT NULL
);


ALTER TABLE public.checkpoint_step OWNER TO ronald;

--
-- Name: checkpoint_step_id_step_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.checkpoint_step ALTER COLUMN id_step ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.checkpoint_step_id_step_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: checkpoint_step_progress; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.checkpoint_step_progress (
    id_progress bigint NOT NULL,
    id_cp_instance bigint NOT NULL,
    id_step bigint NOT NULL,
    is_completed boolean DEFAULT false NOT NULL,
    completed_by bigint,
    completed_at timestamp with time zone
);


ALTER TABLE public.checkpoint_step_progress OWNER TO ronald;

--
-- Name: checkpoint_step_progress_id_progress_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.checkpoint_step_progress ALTER COLUMN id_progress ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.checkpoint_step_progress_id_progress_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flow_campaign_mapping; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.flow_campaign_mapping (
    id_cmpg integer NOT NULL,
    flow_code character varying(64) NOT NULL,
    description character varying(255)
);


ALTER TABLE public.flow_campaign_mapping OWNER TO ronald;

--
-- Name: flow_definition; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.flow_definition (
    id_flow bigint NOT NULL,
    code character varying(80) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    scope_type character varying(50) DEFAULT 'CAMPAIGN'::character varying,
    scope_id bigint,
    is_active boolean DEFAULT true NOT NULL,
    current_version integer DEFAULT 1 NOT NULL,
    created_by bigint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.flow_definition OWNER TO ronald;

--
-- Name: flow_definition_id_flow_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.flow_definition ALTER COLUMN id_flow ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.flow_definition_id_flow_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: flow_instance; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.flow_instance (
    id_instance bigint NOT NULL,
    id_flow bigint NOT NULL,
    entity_type character varying(100) NOT NULL,
    entity_id bigint NOT NULL,
    current_stage_id bigint NOT NULL,
    day_counter integer DEFAULT 1 NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    status character varying(20) DEFAULT 'ACTIVE'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    completed_at timestamp with time zone,
    facts jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.flow_instance OWNER TO ronald;

--
-- Name: flow_instance_id_instance_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.flow_instance ALTER COLUMN id_instance ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.flow_instance_id_instance_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sales_order_fact; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.sales_order_fact (
    id_fact bigint NOT NULL,
    entity_id bigint NOT NULL,
    fact_key character varying(100) NOT NULL,
    fact_value boolean DEFAULT true NOT NULL,
    resolved_by_checkpoint_code character varying(80),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sales_order_fact OWNER TO ronald;

--
-- Name: sales_order_fact_id_fact_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

CREATE SEQUENCE public.sales_order_fact_id_fact_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sales_order_fact_id_fact_seq OWNER TO ronald;

--
-- Name: sales_order_fact_id_fact_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ronald
--

ALTER SEQUENCE public.sales_order_fact_id_fact_seq OWNED BY public.sales_order_fact.id_fact;


--
-- Name: stage; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.stage (
    id_stage bigint NOT NULL,
    id_flow bigint NOT NULL,
    stage_code character varying(80) NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    order_index smallint NOT NULL,
    is_terminal boolean DEFAULT false NOT NULL,
    sla_hours smallint,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    portfolio character varying(255) DEFAULT 'GENERAL'::character varying,
    campaign character varying(255) DEFAULT 'GENERAL'::character varying
);


ALTER TABLE public.stage OWNER TO ronald;

--
-- Name: stage_id_stage_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.stage ALTER COLUMN id_stage ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.stage_id_stage_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stage_transition; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.stage_transition (
    id_transition bigint NOT NULL,
    id_instance bigint NOT NULL,
    from_stage_id bigint,
    to_stage_id bigint NOT NULL,
    direction character varying(10) DEFAULT 'FORWARD'::character varying NOT NULL,
    triggered_by character varying(50),
    actor_id bigint,
    transitioned_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.stage_transition OWNER TO ronald;

--
-- Name: stage_transition_id_transition_seq; Type: SEQUENCE; Schema: public; Owner: ronald
--

ALTER TABLE public.stage_transition ALTER COLUMN id_transition ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.stage_transition_id_transition_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: status_stage_mapping; Type: TABLE; Schema: public; Owner: ronald
--

CREATE TABLE public.status_stage_mapping (
    id_status integer NOT NULL,
    id_stage bigint NOT NULL
);


ALTER TABLE public.status_stage_mapping OWNER TO ronald;

--
-- Name: sales_order_fact id_fact; Type: DEFAULT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.sales_order_fact ALTER COLUMN id_fact SET DEFAULT nextval('public.sales_order_fact_id_fact_seq'::regclass);


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: ronald
--



--
-- Data for Name: checkpoint_catalog; Type: TABLE DATA; Schema: public; Owner: ronald
--



--
-- Data for Name: checkpoint_instance; Type: TABLE DATA; Schema: public; Owner: ronald
--



--
-- Data for Name: checkpoint_step; Type: TABLE DATA; Schema: public; Owner: ronald
--



--
-- Data for Name: checkpoint_step_progress; Type: TABLE DATA; Schema: public; Owner: ronald
--

COPY public.checkpoint_step_progress (id_progress, id_cp_instance, id_step, is_completed, completed_by, completed_at) FROM stdin;
1	6	1	t	9	2026-08-17 14:38:37.483375+00
2	11	1	t	9	2026-08-17 14:39:04.791791+00
\.


--
-- Data for Name: flow_campaign_mapping; Type: TABLE DATA; Schema: public; Owner: ronald
--

COPY public.flow_campaign_mapping (id_cmpg, flow_code, description) FROM stdin;
1	PIPELINE_ALARMAS	Securitas Direct
2	PIPELINE_ALARMAS	Alarmas gen├®rico
3	PIPELINE_TELECOM	Vodafone
4	PIPELINE_TELECOM	Yoigo
5	PIPELINE_TELECOM	M├ísM├│vil
\.


--
-- Data for Name: flow_definition; Type: TABLE DATA; Schema: public; Owner: ronald
--

COPY public.flow_definition (id_flow, code, name, description, scope_type, scope_id, is_active, current_version, created_by, created_at) FROM stdin;
1	PIPELINE_ALARMAS	Pipeline Est├índar de Alarmas	Flujo de venta de 10 etapas con checkpoints de calidad y proveedor	CAMPAIGN	\N	t	1	1	2026-08-12 16:38:44.971954+00
2	PIPELINE_TELECOM	Pipeline Est├índar Telecom	Flujo Telecom ÔÇö comparte etapas con Alarmas	CAMPAIGN	\N	t	1	1	2026-08-17 15:14:30.717065+00
\.


--
-- Data for Name: flow_instance; Type: TABLE DATA; Schema: public; Owner: ronald
--

COPY public.flow_instance (id_instance, id_flow, entity_type, entity_id, current_stage_id, day_counter, metadata, status, created_at, completed_at, facts) FROM stdin;
4	1	order	99991	3	3	{}	ACTIVE	2026-08-17 14:38:37.092285+00	\N	{}
5	1	order	1786978499	2	2	{}	ACTIVE	2026-08-17 14:54:59.388855+00	\N	{}
1	1	order	9902	5	1	{}	ACTIVE	2026-08-12 18:25:34.932844+00	\N	{}
2	1	order	6001	1	1	{}	ACTIVE	2026-08-13 12:59:45.504041+00	\N	{}
3	1	order	12	4	1	{}	ACTIVE	2026-08-14 20:41:52.060794+00	\N	{}
6	1	order	1786980540	2	2	{}	ACTIVE	2026-08-17 15:29:00.459301+00	\N	{}
\.


--
-- Data for Name: sales_order_fact; Type: TABLE DATA; Schema: public; Owner: ronald
--

COPY public.sales_order_fact (id_fact, entity_id, fact_key, fact_value, resolved_by_checkpoint_code, created_at) FROM stdin;
\.


--
-- Data for Name: stage; Type: TABLE DATA; Schema: public; Owner: ronald
--



--
-- Data for Name: stage_transition; Type: TABLE DATA; Schema: public; Owner: ronald
--



--
-- Data for Name: status_stage_mapping; Type: TABLE DATA; Schema: public; Owner: ronald
--

COPY public.status_stage_mapping (id_status, id_stage) FROM stdin;
1	1
2	3
3	4
4	3
5	5
6	6
7	7
8	7
9	9
10	4
11	4
15	9
\.


--
-- Name: audit_log_id_log_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.audit_log_id_log_seq', 37, true);


--
-- Name: checkpoint_catalog_id_checkpoint_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.checkpoint_catalog_id_checkpoint_seq', 92, true);


--
-- Name: checkpoint_instance_id_cp_instance_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.checkpoint_instance_id_cp_instance_seq', 34, true);


--
-- Name: checkpoint_step_id_step_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.checkpoint_step_id_step_seq', 68, true);


--
-- Name: checkpoint_step_progress_id_progress_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.checkpoint_step_progress_id_progress_seq', 2, true);


--
-- Name: flow_definition_id_flow_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.flow_definition_id_flow_seq', 2, true);


--
-- Name: flow_instance_id_instance_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.flow_instance_id_instance_seq', 6, true);


--
-- Name: sales_order_fact_id_fact_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.sales_order_fact_id_fact_seq', 1, false);


--
-- Name: stage_id_stage_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.stage_id_stage_seq', 22, true);


--
-- Name: stage_transition_id_transition_seq; Type: SEQUENCE SET; Schema: public; Owner: ronald
--

SELECT pg_catalog.setval('public.stage_transition_id_transition_seq', 10, true);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id_log);


--
-- Name: checkpoint_catalog checkpoint_catalog_code_key; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_catalog
    ADD CONSTRAINT checkpoint_catalog_code_key UNIQUE (code);


--
-- Name: checkpoint_catalog checkpoint_catalog_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_catalog
    ADD CONSTRAINT checkpoint_catalog_pkey PRIMARY KEY (id_checkpoint);


--
-- Name: checkpoint_instance checkpoint_instance_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_instance
    ADD CONSTRAINT checkpoint_instance_pkey PRIMARY KEY (id_cp_instance);


--
-- Name: checkpoint_step checkpoint_step_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_step
    ADD CONSTRAINT checkpoint_step_pkey PRIMARY KEY (id_step);


--
-- Name: checkpoint_step_progress checkpoint_step_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_step_progress
    ADD CONSTRAINT checkpoint_step_progress_pkey PRIMARY KEY (id_progress);


--
-- Name: flow_campaign_mapping flow_campaign_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.flow_campaign_mapping
    ADD CONSTRAINT flow_campaign_mapping_pkey PRIMARY KEY (id_cmpg);


--
-- Name: flow_definition flow_definition_code_key; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.flow_definition
    ADD CONSTRAINT flow_definition_code_key UNIQUE (code);


--
-- Name: flow_definition flow_definition_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.flow_definition
    ADD CONSTRAINT flow_definition_pkey PRIMARY KEY (id_flow);


--
-- Name: flow_instance flow_instance_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.flow_instance
    ADD CONSTRAINT flow_instance_pkey PRIMARY KEY (id_instance);


--
-- Name: sales_order_fact sales_order_fact_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.sales_order_fact
    ADD CONSTRAINT sales_order_fact_pkey PRIMARY KEY (id_fact);


--
-- Name: stage stage_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage
    ADD CONSTRAINT stage_pkey PRIMARY KEY (id_stage);


--
-- Name: stage_transition stage_transition_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage_transition
    ADD CONSTRAINT stage_transition_pkey PRIMARY KEY (id_transition);


--
-- Name: status_stage_mapping status_stage_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.status_stage_mapping
    ADD CONSTRAINT status_stage_mapping_pkey PRIMARY KEY (id_status);


--
-- Name: sales_order_fact uk_sales_order_fact; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.sales_order_fact
    ADD CONSTRAINT uk_sales_order_fact UNIQUE (entity_id, fact_key);


--
-- Name: checkpoint_step uq_checkpoint_step_order; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_step
    ADD CONSTRAINT uq_checkpoint_step_order UNIQUE (id_checkpoint, step_order);


--
-- Name: checkpoint_step_progress uq_cp_step_progress; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_step_progress
    ADD CONSTRAINT uq_cp_step_progress UNIQUE (id_cp_instance, id_step);


--
-- Name: flow_instance uq_flow_instance_entity; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.flow_instance
    ADD CONSTRAINT uq_flow_instance_entity UNIQUE (id_flow, entity_type, entity_id);


--
-- Name: stage uq_flow_stage_code; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage
    ADD CONSTRAINT uq_flow_stage_code UNIQUE (id_flow, stage_code);


--
-- Name: stage uq_flow_stage_order; Type: CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage
    ADD CONSTRAINT uq_flow_stage_order UNIQUE (id_flow, order_index);


--
-- Name: idx_cp_inst_instance; Type: INDEX; Schema: public; Owner: ronald
--

CREATE INDEX idx_cp_inst_instance ON public.checkpoint_instance USING btree (id_instance);


--
-- Name: idx_cp_inst_status; Type: INDEX; Schema: public; Owner: ronald
--

CREATE INDEX idx_cp_inst_status ON public.checkpoint_instance USING btree (status);


--
-- Name: idx_cp_instance_instance_status; Type: INDEX; Schema: public; Owner: ronald
--

CREATE INDEX idx_cp_instance_instance_status ON public.checkpoint_instance USING btree (id_instance, status);


--
-- Name: idx_flow_inst_entity; Type: INDEX; Schema: public; Owner: ronald
--

CREATE INDEX idx_flow_inst_entity ON public.flow_instance USING btree (entity_type, entity_id);


--
-- Name: idx_flow_inst_stage; Type: INDEX; Schema: public; Owner: ronald
--

CREATE INDEX idx_flow_inst_stage ON public.flow_instance USING btree (current_stage_id);


--
-- Name: idx_flow_instance_entity; Type: INDEX; Schema: public; Owner: ronald
--

CREATE INDEX idx_flow_instance_entity ON public.flow_instance USING btree (entity_type, entity_id);


--
-- Name: checkpoint_catalog checkpoint_catalog_id_flow_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_catalog
    ADD CONSTRAINT checkpoint_catalog_id_flow_fkey FOREIGN KEY (id_flow) REFERENCES public.flow_definition(id_flow);


--
-- Name: checkpoint_catalog checkpoint_catalog_rollback_to_stage_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_catalog
    ADD CONSTRAINT checkpoint_catalog_rollback_to_stage_fkey FOREIGN KEY (rollback_to_stage) REFERENCES public.stage(id_stage);


--
-- Name: checkpoint_catalog checkpoint_catalog_trigger_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_catalog
    ADD CONSTRAINT checkpoint_catalog_trigger_stage_id_fkey FOREIGN KEY (trigger_stage_id) REFERENCES public.stage(id_stage);


--
-- Name: checkpoint_catalog checkpoint_catalog_triggered_by_ko_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_catalog
    ADD CONSTRAINT checkpoint_catalog_triggered_by_ko_fkey FOREIGN KEY (triggered_by_ko) REFERENCES public.checkpoint_catalog(id_checkpoint);


--
-- Name: checkpoint_instance checkpoint_instance_id_checkpoint_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_instance
    ADD CONSTRAINT checkpoint_instance_id_checkpoint_fkey FOREIGN KEY (id_checkpoint) REFERENCES public.checkpoint_catalog(id_checkpoint);


--
-- Name: checkpoint_instance checkpoint_instance_id_instance_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_instance
    ADD CONSTRAINT checkpoint_instance_id_instance_fkey FOREIGN KEY (id_instance) REFERENCES public.flow_instance(id_instance) ON DELETE CASCADE;


--
-- Name: checkpoint_instance checkpoint_instance_opened_at_stage_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_instance
    ADD CONSTRAINT checkpoint_instance_opened_at_stage_fkey FOREIGN KEY (opened_at_stage) REFERENCES public.stage(id_stage);


--
-- Name: checkpoint_step checkpoint_step_id_checkpoint_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_step
    ADD CONSTRAINT checkpoint_step_id_checkpoint_fkey FOREIGN KEY (id_checkpoint) REFERENCES public.checkpoint_catalog(id_checkpoint) ON DELETE CASCADE;


--
-- Name: checkpoint_step_progress checkpoint_step_progress_id_cp_instance_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_step_progress
    ADD CONSTRAINT checkpoint_step_progress_id_cp_instance_fkey FOREIGN KEY (id_cp_instance) REFERENCES public.checkpoint_instance(id_cp_instance) ON DELETE CASCADE;


--
-- Name: checkpoint_step_progress checkpoint_step_progress_id_step_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.checkpoint_step_progress
    ADD CONSTRAINT checkpoint_step_progress_id_step_fkey FOREIGN KEY (id_step) REFERENCES public.checkpoint_step(id_step);


--
-- Name: flow_instance flow_instance_current_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.flow_instance
    ADD CONSTRAINT flow_instance_current_stage_id_fkey FOREIGN KEY (current_stage_id) REFERENCES public.stage(id_stage);


--
-- Name: flow_instance flow_instance_id_flow_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.flow_instance
    ADD CONSTRAINT flow_instance_id_flow_fkey FOREIGN KEY (id_flow) REFERENCES public.flow_definition(id_flow);


--
-- Name: stage stage_id_flow_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage
    ADD CONSTRAINT stage_id_flow_fkey FOREIGN KEY (id_flow) REFERENCES public.flow_definition(id_flow) ON DELETE CASCADE;


--
-- Name: stage_transition stage_transition_from_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage_transition
    ADD CONSTRAINT stage_transition_from_stage_id_fkey FOREIGN KEY (from_stage_id) REFERENCES public.stage(id_stage);


--
-- Name: stage_transition stage_transition_id_instance_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage_transition
    ADD CONSTRAINT stage_transition_id_instance_fkey FOREIGN KEY (id_instance) REFERENCES public.flow_instance(id_instance) ON DELETE CASCADE;


--
-- Name: stage_transition stage_transition_to_stage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.stage_transition
    ADD CONSTRAINT stage_transition_to_stage_id_fkey FOREIGN KEY (to_stage_id) REFERENCES public.stage(id_stage);


--
-- Name: status_stage_mapping status_stage_mapping_id_stage_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ronald
--

ALTER TABLE ONLY public.status_stage_mapping
    ADD CONSTRAINT status_stage_mapping_id_stage_fkey FOREIGN KEY (id_stage) REFERENCES public.stage(id_stage);


--
-- Name: TABLE audit_log; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.audit_log TO usr_flow;


--
-- Name: SEQUENCE audit_log_id_log_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.audit_log_id_log_seq TO usr_flow;


--
-- Name: TABLE checkpoint_catalog; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.checkpoint_catalog TO usr_flow;


--
-- Name: SEQUENCE checkpoint_catalog_id_checkpoint_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.checkpoint_catalog_id_checkpoint_seq TO usr_flow;


--
-- Name: TABLE checkpoint_instance; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.checkpoint_instance TO usr_flow;


--
-- Name: SEQUENCE checkpoint_instance_id_cp_instance_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.checkpoint_instance_id_cp_instance_seq TO usr_flow;


--
-- Name: TABLE checkpoint_step; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.checkpoint_step TO usr_flow;


--
-- Name: SEQUENCE checkpoint_step_id_step_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.checkpoint_step_id_step_seq TO usr_flow;


--
-- Name: TABLE checkpoint_step_progress; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.checkpoint_step_progress TO usr_flow;


--
-- Name: SEQUENCE checkpoint_step_progress_id_progress_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.checkpoint_step_progress_id_progress_seq TO usr_flow;


--
-- Name: TABLE flow_definition; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.flow_definition TO usr_flow;


--
-- Name: SEQUENCE flow_definition_id_flow_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.flow_definition_id_flow_seq TO usr_flow;


--
-- Name: TABLE flow_instance; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.flow_instance TO usr_flow;


--
-- Name: SEQUENCE flow_instance_id_instance_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.flow_instance_id_instance_seq TO usr_flow;


--
-- Name: TABLE stage; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.stage TO usr_flow;


--
-- Name: SEQUENCE stage_id_stage_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.stage_id_stage_seq TO usr_flow;


--
-- Name: TABLE stage_transition; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON TABLE public.stage_transition TO usr_flow;


--
-- Name: SEQUENCE stage_transition_id_transition_seq; Type: ACL; Schema: public; Owner: ronald
--

GRANT ALL ON SEQUENCE public.stage_transition_id_transition_seq TO usr_flow;


--
-- PostgreSQL database dump complete
--

\unrestrict nPBDGt5hY9lzKlBjWsFJUCPER2GBAU6jzXFxaN0htUv6Ptin18mVCngBlcBFfKt

